/* basic styles */

body {
	font-family: Arial, Verdana;
	color: #494949;
	font-size: 12px;
	margin: 0px;
	background-image: url(bggrey.png);
}

a {
	text-decoration: none;
}


/* overall styles */

.clear{
	clear: both;
}

.wrapper{
  width: 980px;
  background-color: #C8C8C8;
  margin: 100px auto 0 auto;
  padding: 10px;
  border: 1px solid green;
}

.login_er{
	color: red;
	font-weight: bold;
	display: block;
	margin: 0 0 10px 0;
}

.search_result{
  display: block;
}

.search_result ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.search_result li > div{
  float :left;
}

.search_result li > div.cont{
  width: 850px;
}

.search input[name=search]{
  display: block;
  margin: 0 0 5px 0;
}

.search input[type=submit]{
  display: block;
}